.Badge {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 16.66rem;
  margin: 0 .5rem 2.3rem .5rem;
  font-family: "Open Sans", sans-serif;
}

.Badge .image-container {
  padding-top: 10px;
  height: 5.66rem;
}

i {
  color: #9836B8;
}

.Badge h2 {
  font-size: 11pt;
  font-weight: 100;
  padding: 5px;
  color: white;
  background-image: linear-gradient(to bottom right, purple, black);
}

.Badge-information {
  display: flex;
  justify-content: space-between;
  padding: 1px;
}

.Badge-information p {
  font-size: 11pt;
  font-weight: 300;
  line-height: 13pt;
  color: black;
  justify-content: space-between;
  padding-bottom: 5px;
}
