.Profile .lander {
  text-align: center;
}

.Profile .lander h1 {
  font-family: "Open Sans", sans-serif;
}

.row::after {
  content: "";
  clear: both;
  display: table;
  float: center;
}

.badgeWell {
	background-color: #777;
}

.badgeDiv {
	background-color: white;
	max-width: 950px;
	padding-bottom: 10px;
}

span {
	text-align: center;
}

* {
  box-sizing: border-box;
}
