.Task .lander {
	font-family: "Open Sans", sans-serif;
  padding: 0px 0;
  text-align: center;
}

.Task .lander h1 {
  font-family: "Open Sans", sans-serif;
}

.Task .lander p {
  font-family: "Open Sans", sans-serif;
  font-size: 12pt;
}

.Task .lander p {
	color: #999;
}

ol {
  list-style-type: upper-roman;
  text-align: left;
}

.TaskButton {
	padding: 0;
	border: none;
	background: none;
}

div #task {
	color: #9836B8;
	font-size: 12pt;
}
