.TaskAuthor .lander {
  padding: 0px 0;
  text-align: center;
}

.TaskAuthor .lander h1 {
  font-family: "Open Sans", sans-serif;
  padding: 0px;
}

.TaskAuthor .lander p {
  	color: #9836B8;
	font-size: 13pt;
	padding: 0px;
}
