.TaskAuthor .lander {
  font-family: "Open Sans", sans-serif;
  padding: 0px;
  text-align: center;
}

.TaskTitle {
	color: #9836B8;
	font-size: 13pt;
	padding: 0px;
}

.InfoDescription {
	font-size: 11pt;
	color: #999;
}
