.App {
  margin-top: 15px;
}

.App .navbar-brand {
  font-weight: bold;
}

.NavItemLogo {
	list-style-type: none;
}

.Logo {
	padding-top: 7px;
	height: 41px;
}

.TaskBadge {
	background-color: #9836B8;
}
