.App {
  margin-top: 15px;
}

.App .navbar-brand {
  font-weight: bold;
}

.NavItemLogo {
	list-style-type: none;
}

.Logo {
	padding-top: 7px;
	height: 41px;
}

.TaskBadge {
	/*background-color: #9836B8;*/
	/*background-color: #6b3eff;*/
	background: linear-gradient(to right, #b500ff 0%, #3c00ff 100%);
	margin-top: -2pt;
}

#dropdown-no-carat {
	padding: 0;
	border: none;
	background: none;
}
